.article {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.article-img img {
  box-sizing: border-box;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border: 1px solid black;
  padding: 0.4rem;
}
.title {
  font-size: 1.75rem;
}
.title a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid inherit;
}
.title a:hover {
  border-bottom: 3px solid black;
}
.content {
  text-align: justify;
  line-height: 1.5rem;
  height: 4.5rem;
  overflow: hidden;
  display: -webkit-box;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.scroll-container {
  display: flex;
  gap: 0.5rem;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
@media only screen and (max-width: 750px) {
  .article-img img {
    height: 12.5rem;
  }
  .title {
    font-size: 1.25rem;
  }
  .scroll-container {
    overflow-x: scroll;
  }
}
