h2 {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  position: relative;
}
h2::after {
  content: "";
  padding: 0.125rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

h2 img {
  position: absolute;
  width: 8.5rem;
  top: -200%;
  right: 0;
}
