.container {
  max-width: 64rem;
  margin: 3rem auto 0 auto;
}
.container-with-shopping-items {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--divider-color);
}
.title {
  margin: 0;
}
.empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem;
}
.empty-container-img {
  width: 32rem;
}
.start-shopping-message {
  max-width: 25rem;
  text-align: center;
  line-height: 1.5rem;
}
.product-item-img {
  height: 6rem;
}
.clear-all-button {
  background-color: inherit;
  border: 0;
  padding: 0;
  color: var(--dark-red-color);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.img-container {
  min-width: 10rem;
  max-width: 10rem;
  height: 8rem;
  background-color: var(--biege-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  margin-top: 1rem;
}
.list-item {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--divider-color);
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  gap: 0.75rem;
}
.item-name {
  font-weight: 600;
  font-size: 1.15rem;
}
.item-weight {
  font-size: 0.85rem;
}
.info-and-action-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.25rem 0;
}
.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}
.quantity-action-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.action-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
.quantity-number {
  width: 1rem;
  text-align: center;
}
.about-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 2.8rem;
}
.products-logo {
  width: 4rem;
}
.about-list-text {
  text-align: center;
  line-height: 1.5rem;
}
@media only screen and (max-width: 750px) {
  .container {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .empty-content {
    margin: 1rem;
  }
  .empty-container-img {
    width: 23.75rem;
  }
  .info-and-action-buttons-container {
    flex-direction: column;
    margin: 0;
  }
  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
